
body {
    background: linear-gradient(to right, #0b0b0b, #342219);
    color:blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: tan;
}

h2 {
    color: tomato;
    font-style: italic
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

img {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 10em;
    border: 6px;
    border-style: double;
    background: linear-gradient(to bottom, #0c0c0c, #121212);
    width: 70%;
    max-width: 400px;
}

.brand {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
    color: rosybrown;
    line-height: 85%
}
.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
    background-color: transparent;

}
div.container {
    background-color: pink;
}

.max {
    text-align-last: center;
    font-size: 12em;
}

#middle {
    font-size: 1em;
    font-style: normal;
}
#navigation { 
    background: linear-gradient(to right, pink, purple);

}
#navigation li:first :first-child {
    background: linear-gradient(to bottom, red, darkgrey);
    border: chocolate;

}
#navigation > ul > li {
    display: inline;}

#navigation > ul > li:hover {
    background-color: lightcyan
}

}
#content li:hover {
    font-size: 140%;
    background-color: limegreen;
}
#header {
    background-color :rgb(126, 83, 14);
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

}
#navigation > ul > li { 
    color: lightgoldenrodyellow;
}
#header > h1,
#header > h2 {
    color: lightblue;
}
#content { 
    background-color: rgb(207, 181, 131);
    padding: 20px;

}
#footer {
    background-color: khaki;

}